*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container{
  width:100vw;
  height:100vh;
  background:  #9BB7D4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title{
  text-align: center;
}
a{
  text-decoration: none;
  color:#0072B5;
}
a:hover{
  opacity: 0.6;
}


.message{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: auto;
  margin-bottom: 10px;
  
}
.message span{
  font-size: 20px !important;
  padding:3px;
  border-radius: 5px;
 
  color:white;
  text-align: center;
}


.loader{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.loader img{
  height:300px;
  width:300px;
  object-fit: contain;
}